.field
{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 50px;
    justify-content: space-between;
    margin-bottom: 1em;
}

.field label
{
    line-height: 1.2em;
    font-size: 14px;
    font-weight: 700;
}

.field input
{
    height: 1.5em;
    padding: 2px 4px;
    border-radius: 0.4em;
    border: 1px solid black;
}

.field input:focus
{
    border: 1px solid cornflowerblue;
    outline: none;
}

